# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.dockerfile
docker-compose.override.yml

# pycharm
.idea/
